$headerBg : rgba(72, 159, 165, 0.5);
$headerColor: #FFFFFF;
$mainBg : #FFFFFF;
$mainColor: #2F4C58;
$footerBg : #489FA5;
$footerColor: #FFFFFF;
$theme-toggler-bg: #FFFFFF;
$theme-toggler-handle-color:$footerBg