@import './partials/mixins';

:root {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background-color: var(--main-bg);
  .dark-theme {
    @include theme(dark);
  }
  .light-theme {
    @include theme(light);
    .toggler {
      left: 28px !important;
    }
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 120px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    background-color: var(--main-bg);

    .header {
      grid-area: 1 / 1 / 2 / 2;
      background-color: var(--header-bg);
      color: var(--header-color);
    }

    .main {
      grid-area: 2 / 1 / 4 / 2;
      background-color: var(--main-bg);
      color: var(--main-color);
      display: grid;
      place-content: center;
      text-align: center;
      .context {
        .text{
            font-size: 64px;
        }
        .action{
            & span{
              padding: 1rem 2rem;
              background-color: var(--footer-bg);
            }
            &:hover{
              cursor: pointer;
            }
        }
      }
      .logistics{
        @extend .context

      }
    }

    .footer {
      grid-area: 4 / 1 / 5 / 2;
      background-color: var(--footer-bg);
      color: var(--footer-color);
      height: 100px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}

// @import './partials/mixins';
// :root{
//     font-family: "Roboto", sans-serif;
// }

// body{
//     height: 100vh;
//     margin: 0;
//     .dark-theme & {
//         @include theme(dark);
//     }
//     .light-theme & {
//         @include theme(light);        
//     }
//     .parent {
//         display: grid;
//         grid-template-columns: 1fr;
//         grid-template-rows: 50px 1fr 120px;
//         grid-column-gap: 0px;
//         grid-row-gap: 0px;
//         height: 100%;
//         background-color: $mainBg;
        
//         .header { 
//             grid-area: 1 / 1 / 2 / 2; 
//             background-color: $headerBg;
//             color: $headerColor;
//         }
//         .main { 
//             grid-area: 2 / 1 / 4 / 2; 
//             background-color: $mainBg;
//             color: $mainColor;

//             .context{
//                 // @extend .bg
//             }
//         }
//         .footer { 
//             grid-area: 4 / 1 / 5 / 2; 
//             background-color: $footerBg;
//             color: $footerColor;
//             height: 100px;
//             display: flex; 
//             justify-content: center;
//             flex-direction: column;
//             align-items: center;
//         }
//     }
// }